li {
  list-style-type: none;
  color: #fb2d2d;
  display: inline-block;
  font-family: Georgia, serif;
}

nav {
  text-align: center;
  background-color: #fb2d2d99;
  font-family: Impact, serif;
}

header {
  border: 1px solid #000000;
  padding: 35px;
  text-align: center;
  background-color: #4f494966;
}

h1 {
  padding: 35px;
  text-align: center;
  background-color: #ca5252cc;
}

h2, h3 {
  text-align: center;
  color:#fb2d2d
}

h3 {
  margin-bottom: 10px;
  color:#f5f5f5
}

div {
  padding: 5px;
  max-width: 60%;
  margin: 0 auto;
  background-color: #000000;
  color:#f5f5f5
}

p {
    margin-bottom: 20px;
}

body {
  background-image: url('../images/SixofCrows-1.jpg');
  background-position: top;
  background-color:#7b6767;
}

hr {
  margin-top: 20px;
  max-width: 10%;
  border: none;
  background-color: #cf1010;
  height: 2px;
}

footer {
  text-align: center;
  background-color: #fb2d2d99;
}
